# Reddit API Configuration
[RedditAPI]
client_id=YOUR_CLIENT_ID
client_secret=YOUR_CLIENT_SECRET
user_agent=YOUR_USER_AGENT

# Python Script Path
[Python]
script_path=src_new/main/python

# Hugging Face API Key
[HuggingFace]
api_key=YOUR_API_KEY
